.img-container {
    margin-right: 0.8rem;
    /* width: 200px;
    height: 120px; */
    width: 400px;
    /* height: 270px; */
}



/* Resize images */
.img-container img {
    width: 100%;
    height: auto;
}






.copy-sym {
    font-size: 1.2rem;    
}

.invalid {
    display: none;
}