.container {
  /* position: absolute;
  top: 20%;
  left: 40%; */
  width: auto; /*25rem */
  /* min-width: 30rem; */
  max-width: 50rem;
  height: auto; /*35rem */
  border: 1px solid black;
  /* box-shadow: 0 0 1em gold; */
  background-color: white;
  cursor: move;
}



.header {
  font-size: 0.7rem;
  /* display: flex; */
  /* justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1rem;
  /* margin: 0.2rem 0.4rem; */
  border-bottom: 1px solid black;
}

.span-title {
    font-weight: 600;
  text-align: center;
  grid-column: 1/5;
  grid-row: 1/2;
}

.span-close {

    grid-column: 4/5;
    grid-row: 1/2;
    text-align: end;
    margin-right: 0.3rem;
    cursor: pointer;
}
/* 
.section {
    margin: 1.7rem;
    margin-top: 2rem;
    
} */

.section {
padding: 1rem;

  
}

.section img {
  width: auto; /*100% */
  /* min-width: 100%; */
  max-width: 100%;
  height: auto;
}


.section p {
    text-align: justify;
    margin-top: 2rem;
    font-size: 0.7rem;
}

.invalid {
  display: none;
}
